<!--
  The click handler is light dismiss. The lint rules asking for a keyboard
  equivalent do not know that a <dialog> already takes focus and turns Escape
  into the (cancel) event below.
-->
<!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
<dialog
  #dialog
  class="modal"
  [attr.role]="dialogRole()"
  [attr.aria-label]="label() || null"
  [attr.aria-describedby]="describedBy() || null"
  (cancel)="onCancel($event)"
  (click)="onClick($event)"
>
  <ng-content />
</dialog>
